<form method="" action="">
  <label>Search:
    <input type="text" name="search_term" placeholder="what are you searching for?" required>
  </label>

  <label>Safe search?
    <input type="checkbox" name="safe_search">
  </label> <div class="row">
       <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="mdi-content-send right"></i>
  </button>
    </div>
